*{
    
    margin: 0;
   padding: 0;
   text-decoration: none;
   list-style: none;
   box-sizing: border-box;
   font-family:  ;
}
body{
font-family: Arial, Helvetica, sans-serif;
list-style: none;

} 

.head{
width: 100%;
height: 50px;
background-color:white;

color:black;
display: flex;
justify-content: ;
align-items: center;
border-bottom: 1px solid gray;
position: fixed;
top: 0;
z-index: 100;
 
 





}
.logo{
width: 120px;
height: auto;
mix-blend-mode: multiply;
margin-left: 10px;




}
.logo img{
width: 100%;
height: 50px;
object-fit: cover;
object-position: center;
overflow: hidden;
}
.logo p{
position: absolute;
top: 20px;
left: 90px ;
font-size: 20px;
font-weight: 600;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.nav{
position: absolute;
left: 400px;

}
.bar
{ display: flex;
   justify-content: space-around;
   align-items: center;
}
.nav p{
margin-right: 45px;
transition: 0.5s;
background-color: none;
padding: 5px 5px;
} 
.nav a{
color: black;
justify-content: space-around;
font-weight: bold;

}
.nav p:hover{
scale:1.2;
border-bottom: 2px solid #9b3bfc; 



}
.nav a:hover{color: #9b3bfc;}
.button{
position: absolute;
right: 10px;
}
.head    button{
width: 90px;
height: 30px;
color:white;
font-size: 15px;
background-color:black ;
border: 2px solid black;
margin-right: 20px;
border-radius: 25px;
font-weight: bold;
transition: 0.5s;
}
.head   button:hover{
color: black;
font-weight: bold;
background-color:#F4E7FB;
 border: 2px solid black; 
}
.contant{
width: 100%;
height: 750px;





background:linear-gradient(120deg  ,#F3DCDC,white,#F4E7FB,#fdc5f8,#C8A8E9);
}
.heading{
color: black;
background-color:none;
font-size: 70px;
width: 100%;
height: 300px;
display: flex;
justify-content: center;
align-items: center;
padding-top: 30px;




}
.cent{
text-align: center;
}

.p1{
text-align: center;
color:black;
font-size: 15px;
}
.btn{
width: 200px;
height: 50px;
margin-top: 30px;
font-size: 20px;
border-radius: 25px;
font-weight: 600;
background:linear-gradient(to left,#ff9cf7,#9b3bfc) ;
border: none;
box-shadow: 0 4px 8px rgb(0, 0, 0,0.2);
transition: 0.5s;
}
button:hover{
scale:1.2;
}
.wrapper{
max-height: 300px;
border: none;
margin-top:30px ;
display: flex;
overflow-x: auto;
padding-top: 10px;
padding-left: 10px ;
padding-right: 10px;
}
.wrapper::-webkit-scrollbar{
width: 0;
}
.wrapper .item{
min-width:500px;
height: 200px;
/* line-height: 110px; */

background-color: ;
margin-left: 10px;
border-radius: 25px;
border: 6px solid white;
overflow: hidden;

}
img{
width: 100%;
height: 200px;
}
@keyframes appear {
from {
opacity: 0;
scale: 0.5;
}
to {
opacity: 1;
scale: 1;
}

}





.back{
width: 100%;
height: 550px;
background-color:#E5E4E2;

}
.card{
width: 100%;
height: auto;
display: flex;
justify-content: space-around;
/* z-index: 0; */

}

.card1{
width: 350px;
height: 300px;
background-color: none;
margin-top: 50px; 
font-size: 50px;
animation: appear  linear;
animation-timeline: view();
animation-range: entry 0% cover 40%;




}
.card1 p{
padding-top: 5px;
padding-left: 5px;
font-weight: 600;
}
.sed{
width: 200px;
height: 50px;
border-radius: 25px;
font-size: 18px;
margin-top: 20px;
font-weight: bold;
background:linear-gradient(to left,#ff9cf7,#9b3bfc) ;
border: none;
box-shadow: 0 4px 8px rgb(0, 0, 0,0.2);
transition: 0.5s;

}
.card2{
width: 350px;
height: 330px;
background:linear-gradient(#9b3bfc,#ff9cf7) ;
margin-top: 30px;
border-radius: 35px  35px 0px 0px;
overflow: hidden;
animation: appear  linear;
animation-timeline: view();
animation-range: entry 0% cover 40%;
box-shadow: 0 4px 8px rgb(0, 0, 0,0.2);



}
.card2 p{
font-size: 22px;
color: white;
margin-top: 20px;
margin-left:10px ;
font-weight: bold;
}
.end {
width: 300px;
height: 250px;
background-color: black;
margin-top: 30px;
margin-left: 25px;
border-radius: 25px ;
overflow: hidden;

}
img{
width: 100%;
height: auto;
}
.card3{
width: 350px;
height: 330px;
background:linear-gradient(#9b3bfc,#ff9cf7) ;
margin-top: 30px;
border-radius: 15px;
overflow: hidden;
animation: appear  linear;
animation-timeline: view();
animation-range: entry 0% cover 40%;
box-shadow: 0 4px 8px rgb(0, 0, 0,0.2);


}
.card3 p{
color: black;

font-weight: 600;
align-items: center;
font-size: 20px;
text-align: center;
margin-top: 20px;

}
.par1{
width: 100%;
height: auto;
margin-top: 30px;
display: flex;
justify-content: space-around;
position: relative;
}
.par{
width: 350px;
height: 120px;
background-color:white;
border-radius: 20px;
box-shadow: 0 4px 8px rgb(0, 0, 0,0.2);
}
.par h2{
margin-left: 35px;
margin-top: -25px; font-size: 30px;
}
.par i{

font-size: 10px;
margin-top: 32px;
margin-left: 10px;

}
.icon i{
position: absolute;
font-size: 20px;
margin-left: 270px;
margin-top: -25px;
background-color: #d7b0fd;
padding: 15px; 
border-radius: 50%;
color: #9b3bfc;

}
.par p{
font-size: 15px;
margin-left: 20px;
margin-top: 30px;
color: grey;
}
.about{
width: 100%;
height: 500px;
background-color: white;
display: flex;
justify-content: center;
align-items: center;
}
.center{
width: 90%;
height: 400px;
background-color: #E5E4E2;
border-radius: 25px;
overflow: hidden;
display: flex;

}

.lets{
    width: 480px;
    height: auto;
    font-size: 30px;
    margin-top: 30px;
    margin-left:30px ;
    background-color:none;
    font-weight: 100;

}
.abo{
    width: 480px;
    height: auto;
    background-color: none;
    margin-top: 20px;
    margin-left:30px ;
    color: black;
    font-size: 15px;

}
.graff{
    width: 600px;
    height: 160px;
    
    margin-top: 20px;
    margin-left:30px ;
    position: relative;
    font-weight: 300;
    
    
    

}
.ri1{position: absolute;
    width: 50%;
    height: 30px;
    
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 10px;padding-right: 10px;
    
    
}
.ri2{
    position: absolute;
    width: 40%;
    height: 30px;
    
    margin-bottom: 10px;
    margin-left: 300px;
    margin-top: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 10px; padding-right: 10px;
    
}
.ri3{
    position: absolute;
    width: 50%;
    height: 30px;
    
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 70px;
    margin-right: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 10px; padding-right: 10px;
    
}
.ri4{
    position: absolute;
    width: 40%;
    height: 30px;
    
    margin-bottom: 10px;
    margin-left: 300px;
    margin-top: 70px;
    margin-right: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 10px; padding-right: 10px;
    
}
.ri5{
    position: absolute;
    width: 50%;
    height: 30px;
    
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 120px;
    margin-right: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 10px; padding-right: 10px;
    
}
.ri6{
    position: absolute;
    width: 40%;
    height: 30px;
    
    margin-bottom: 10px;
    margin-left: 300px;
    margin-top: 120px;
    margin-right: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 10px; padding-right: 10px;
    
}
.ri1 i{
    padding-right: 10px;
    color: #9b3bfc;
    font-weight: 600;
}
.ri2 i{
    padding-right: 10px;color: #9b3bfc;  font-weight: 600;
}
.ri3 i{
    padding-right: 10px;color: #9b3bfc;  font-weight: 600;
}
.ri4 i{
    padding-right: 10px;color: #9b3bfc;  font-weight: 600;
}
.ri5 i{
    padding-right: 10px;color: #9b3bfc;  font-weight: 600;
}
.ri6 i{
    padding-right: 10px;color: #9b3bfc;  font-weight: 600;
}
.im{
    width: 60%;
    height: 400px;
    background-color:;
    margin-left: px;
}
img{
    width: 100%;
    height: 450px;
}
.info{
    width: 100%;
    height: 530px;
    background-color: #E5E4E2;
    align-items: center;
}
.head1{
    text-align: center;
    font-size: 40px;
    padding-top: 50px;
    margin-bottom: 10px;
}
.head2{
    width: 35%;
    height: auto;
    text-align: center;
    margin-left: 440px;
}
.wrapper2{
    width: 100%;
    height:400px;
    background-color:none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}
.wrapper::-webkit-scrollbar{
    width: 0;
}
.wrapper2 .item2{
    min-width:170px;
    height: 240px;
    line-height: 110px;
    margin-top: px;
    overflow: hidden;
    background:linear-gradient(to right, #9b3bfc,#ff9cf7) ;
    margin-left: px;
    overflow: hidden;
    transition: 0.5s;
    border-radius: 8px;




    
}
.im2{
    width: 170px;
    height: 170px;
}
 .im2 img{
    width: 170px;
    height: 200px;
}
.item2 p{
    font-size: 13px;
    text-align: center;
    font-weight: bold;
}
.wrapper2:hover .item2{
    filter: blur(5px);
}
    .wrapper2 .item2:hover{
    scale: 1.30;
    filter: blur(0px);
    border: 1px solid black;
    border-radius: 20px;
}

.information{
    width: 100%;
    height: 500px;
    background-color:white;
   
}
.head3{
    text-align: center;
    font-size: 40px;
    padding-top: 50px;
    margin-bottom: 10px;
}
.head4{
    width: 35%;
    height: auto;
    text-align: center;
    margin-left: 440px;
}
.grid{
    width: 100%;
    height: 350px;
    background-color:none;
    margin-left: 4.5%;
    display: flex;
    justify-content: center;
    align-items: center;
   

    
}
.information .grid{
    /* display: flex;
    align-items: ; */
}
.center1{
    width: 95%;
    height: 300px;
    background-color:none;

   flex-wrap: wrap;
    display: grid;
    grid-template-columns: 280px 280px 280px 280px  ;
    grid-template-rows: 130px 130px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}
.gridbox{
    
    background-color:#ddd;
    border-radius: 10px;
   
}
.gridbox p{
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
    color: rgb(0, 0, 0,0.6);
}
.gridbox i{
    position: absolute;
    font-size:20px;
    background-color: white;
    border-radius: 50%;
    color: black;
    margin-top: 10px;
    margin-left: 210px;
    padding: 15px 15px;
}
.gridbox h4{
    position: absolute;
    margin-top: 60px;
    margin-left: 10px;
}
.gridbox h5{
    width: 250px;
    color: rgb(0, 0, 0,0.6);
    margin-left: 10px;
    margin-top: 90px;
}
.od{
    width: 100%;
    height: 400px;
    background-color:#E5E4E2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blue{
    position: relative;
    width: 95%;
    height: 360px;
    background-color: blue;
    border-radius: 25px;
    overflow: hidden;

}
.blue img{
    width: 100%;
    height: 360px;
}
.blue h1{
    position: absolute;
    top: 15%;
    left: 20%;
    width: 60%;
    font-weight: 100;
    color: white;
    font-size: 45px;
    text-align: center;
}
.btn1{
    position: absolute;
    top: 50%;
    left: 38%;
    

}
.btn1 button{
    width: 300px;
    height: 70px;
    font-size: 20px;
    border-radius: 50px;
    color: #9b3bfc;
    font-weight: 600;
    background-color: white;
    transition: 0.5s;
}

    .btn1 i{
      padding: 20px 20px;
      border-radius: 50%;
      background:linear-gradient(to right, #9b3bfc,#ff9cf7) ;
        padding-left: ;
        margin-left: 30px;
        color: white;
        
    }
    footer{
        width: 100%;
        height: 400px;
        background-color: #E5E4E2;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footercontant{
        width: 97%;
        height: 380px;
        background-color: black;
        border-radius: 25px;
        overflow: hidden;
    
    }
    .footerhead{
        width: 100%;
        height: 120px;
        color: white;
        background-color: none;
        border-bottom: 0.2px solid grey;
        position: relative;
        
    }
    .footerhead h1{
        width: 40%;
        font-size: 40px;
        position: absolute;
        left: 30px;
        top: 40px;
        font-weight: 100;
    }
    .button2{
        position: absolute;
        top: 40px;
        right: 20px;
        
    }
    .button2 button{
        width: 160px;
        height: 40px;
        color:white;
        font-size: 15px;
        background-color:black;
        border: 2px solid white;
        margin-right: 20px;
        border-radius: 25px;
        font-weight: bold;
        transition: 0.5s;
        }
        .button2 button:hover{
            background:linear-gradient(to right, #9b3bfc,#ff9cf7) ;
            border: none;
        }
        .name1{
            background:linear-gradient(45deg, #9b3bfc,#ff9cf7) ;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-size: 300% 300%;
        }
       .name1 h1{
        font-weight: bold;
        color: white;
        margin-top: 30px;
        margin-left: 30px;
        
       
       }
       .footercontant p{
        color: white;
        margin-top: 30px;
        margin-left: 30px;
       }
       .search input{
        margin-top: 10px;
        margin-left: 30px;
        width: 250px;
        height: 30px;
        border-radius: 50px 0px 0px 50px;
        border: 1px solid white;
        background-color: black;
        padding-left: 20px;
        color: white;

       }
       .btn5{
        width: 110px;
        height: 35px;
        background-color: white;
        border-radius: 0px 50px 50px 0px;
        margin-left: 2px;
        color: black;
        font-size: 15px;
        font-weight: bold;
        
       }
       .insta{
        position: absolute;
        margin-top: -80px;
        left: 45%;
        width: 500px;
        height: 70px;
        background-color: none;
        background-color:none;
       display: flex;
       justify-content: space-evenly;
       align-items: center;
       }
       .emoji1{
        font-size: 50px;
        color: white;
        

       }
       .emoji2{
        font-size: 50px;
        color: white;
        
       }
       .emoji3{
        font-size: 50px;
        color: white;
        
       }
       .emoji4{
        font-size: 50px;
        color: white;
        
       }
       .emoji1 i:hover{
        scale: 1.2;
        color: #9b3bfc;
        transition: 0.5s;
       }
       .emoji2 i:hover{
        scale: 1.2;
        color: red;
        transition: 0.5s;
       }
       .emoji3 i:hover{
        scale: 1.2;
        color: blue;
        transition: 0.5s;
       }
       .emoji4 i:hover{
        scale: 1.2;
        color: red;
        transition: 0.5s;
       }
       .plya1{
        width: 200px;
        height: 50px;
        margin-top: 20px;
        margin-left: 50px;
       }
       .plya1 img{
        width: 100%;
        height: auto;
       }
      
       .plya2{
        width: 200px;
        height: 50px;
        margin-top: -48px;
        margin-left: 260px;
       }
       .plya2 img{
        width: 100%;
        height: auto;
       }
       
       
      

@media only screen and  (max-width:480px) {
    
.head{
    width: 100%;
    height: 25px;
    background-color:white;
    
    color:black;
    display: flex;
    justify-content: ;
    align-items: center;
    border-bottom: 1px solid gray;
    position: fixed;
    top: 0;
    z-index: 100;
     
     
    
    
    
    
    
    }
    .logo{
    width:30px;
    height: 30px;
    mix-blend-mode: multiply;
    margin-left: 0px;
    margin-top: 5px;
    
    
    
    
    }
    .logo img{
    width: 100%;
    height: 25px;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    }
    .logo p{
    position: absolute;
    top:8px;
    left: 22px ;
    font-size: 10px;
    font-weight: 600;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
   
    .nav{
        position: absolute;
        left: 100px;
        
        }
        .bar
        { display: flex;
           justify-content: space-around;
           align-items: center;
        }
        .nav p{
            font-size: 8px;
        margin-right: 10px;
        transition: 0.5s;
        background-color: none;
        padding: 5px 5px;
        } 
        .nav a{
        color: black;
        justify-content: space-around;
        font-weight: bold;
        
        }
        .nav p:hover{
        scale:1.2;
        border-bottom: 2px solid #9b3bfc; 
        
        
        
        }
        .nav a:hover{color: #9b3bfc;}
        .buttonb{
            margin-left: 270px;
        }
    .head    button{
        width: 45px;
        height:15px;
        color:white;
        font-size: 8px;
        background-color:black ;
        border: 2px solid black;
        margin-left: 5px;
        border-radius: 25px;
        font-weight: bold;
        transition: 0.5s;
        margin-right: 0px;
        
        }
        .head   button:hover{
        color: black;
        font-weight: bold;
        background-color:#F4E7FB;
         border: 2px solid black; 
        }
   
   
    .contant{
    width: 100%;
    height: 750px;
    
    
    
    
    
    background:linear-gradient(120deg  ,#F3DCDC,white,#F4E7FB,#fdc5f8,#C8A8E9);
    }
    .heading{
    color: black;
    background-color:none;
    font-size: 70px;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    
    
    
    
    }
    .cent{
    text-align: center;
    }
    
    .p1{
    text-align: center;
    color:black;
    font-size: 15px;
    }
    .btn{
    width: 200px;
    height: 50px;
    margin-top: 30px;
    font-size: 20px;
    border-radius: 25px;
    font-weight: 600;
    background:linear-gradient(to left,#ff9cf7,#9b3bfc) ;
    border: none;
    box-shadow: 0 4px 8px rgb(0, 0, 0,0.2);
    transition: 0.5s;
    }
    button:hover{
    scale:1.2;
    }
    .wrapper{
    max-height: 300px;
    border: none;
    margin-top:30px ;
    display: flex;
    overflow-x: auto;
    padding-top: 10px;
    padding-left: 10px ;
    padding-right: 10px;
    }
    .wrapper::-webkit-scrollbar{
    width: 0;
    }
    .wrapper .item{
    min-width:500px;
    height: 200px;
    /* line-height: 110px; */
    
    background-color: ;
    margin-left: 10px;
    border-radius: 25px;
    border: 6px solid white;
    overflow: hidden;
    
    }
    img{
    width: 100%;
    height: 200px;
    }
    @keyframes appear {
    from {
    opacity: 0;
    scale: 0.5;
    }
    to {
    opacity: 1;
    scale: 1;
    }
    
    }
    
    
    
    
    
    .back{
    width: 100%;
    height: 550px;
    background-color:#E5E4E2;
    
    }
    .card{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    /* z-index: 0; */
    
    }
    
    .card1{
    width: 350px;
    height: 300px;
    background-color: none;
    margin-top: 50px; 
    font-size: 50px;
    animation: appear  linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
    
    
    
    
    }
    .card1 p{
    padding-top: 5px;
    padding-left: 5px;
    font-weight: 600;
    }
    .sed{
    width: 200px;
    height: 50px;
    border-radius: 25px;
    font-size: 18px;
    margin-top: 20px;
    font-weight: bold;
    background:linear-gradient(to left,#ff9cf7,#9b3bfc) ;
    border: none;
    box-shadow: 0 4px 8px rgb(0, 0, 0,0.2);
    transition: 0.5s;
    
    }
    .card2{
    width: 350px;
    height: 330px;
    background:linear-gradient(#9b3bfc,#ff9cf7) ;
    margin-top: 30px;
    border-radius: 35px  35px 0px 0px;
    overflow: hidden;
    animation: appear  linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
    box-shadow: 0 4px 8px rgb(0, 0, 0,0.2);
    
    
    
    }
    .card2 p{
    font-size: 22px;
    color: white;
    margin-top: 20px;
    margin-left:10px ;
    font-weight: bold;
    }
    .end {
    width: 300px;
    height: 250px;
    background-color: black;
    margin-top: 30px;
    margin-left: 25px;
    border-radius: 25px ;
    overflow: hidden;
    
    }
    img{
    width: 100%;
    height: auto;
    }
    .card3{
    width: 350px;
    height: 330px;
    background:linear-gradient(#9b3bfc,#ff9cf7) ;
    margin-top: 30px;
    border-radius: 15px;
    overflow: hidden;
    animation: appear  linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
    box-shadow: 0 4px 8px rgb(0, 0, 0,0.2);
    
    
    }
    .card3 p{
    color: black;
    
    font-weight: 600;
    align-items: center;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    
    }
    .par1{
    width: 100%;
    height: auto;
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    position: relative;
    }
    .par{
    width: 350px;
    height: 120px;
    background-color:white;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgb(0, 0, 0,0.2);
    }
    .par h2{
    margin-left: 35px;
    margin-top: -25px; font-size: 30px;
    }
    .par i{
    
    font-size: 10px;
    margin-top: 32px;
    margin-left: 10px;
    
    }
    .icon i{
    position: absolute;
    font-size: 20px;
    margin-left: 270px;
    margin-top: -25px;
    background-color: #d7b0fd;
    padding: 15px; 
    border-radius: 50%;
    color: #9b3bfc;
    
    }
    .par p{
    font-size: 15px;
    margin-left: 20px;
    margin-top: 30px;
    color: grey;
    }
    .about{
    width: 100%;
    height: 500px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .center{
    width: 90%;
    height: 400px;
    background-color: #E5E4E2;
    border-radius: 25px;
    overflow: hidden;
    display: flex;
    
    }
    
    .lets{
        width: 480px;
        height: auto;
        font-size: 30px;
        margin-top: 30px;
        margin-left:30px ;
        background-color:none;
        font-weight: 100;
    
    }
    .abo{
        width: 480px;
        height: auto;
        background-color: none;
        margin-top: 20px;
        margin-left:30px ;
        color: black;
        font-size: 15px;
    
    }
    .graff{
        width: 600px;
        height: 160px;
        
        margin-top: 20px;
        margin-left:30px ;
        position: relative;
        font-weight: 300;
        
        
        
    
    }
    .ri1{position: absolute;
        width: 50%;
        height: 30px;
        
        margin-bottom: 10px;
        margin-left: 10px;
        margin-top: 20px;
        margin-right: 20px;
        display: flex;
        justify-content: start;
        align-items: center;
        padding-left: 10px;padding-right: 10px;
        
        
    }
    .ri2{
        position: absolute;
        width: 40%;
        height: 30px;
        
        margin-bottom: 10px;
        margin-left: 300px;
        margin-top: 20px;
        margin-right: 20px;
        display: flex;
        justify-content: start;
        align-items: center;
        padding-left: 10px; padding-right: 10px;
        
    }
    .ri3{
        position: absolute;
        width: 50%;
        height: 30px;
        
        margin-bottom: 10px;
        margin-left: 10px;
        margin-top: 70px;
        margin-right: 20px;
        display: flex;
        justify-content: start;
        align-items: center;
        padding-left: 10px; padding-right: 10px;
        
    }
    .ri4{
        position: absolute;
        width: 40%;
        height: 30px;
        
        margin-bottom: 10px;
        margin-left: 300px;
        margin-top: 70px;
        margin-right: 20px;
        display: flex;
        justify-content: start;
        align-items: center;
        padding-left: 10px; padding-right: 10px;
        
    }
    .ri5{
        position: absolute;
        width: 50%;
        height: 30px;
        
        margin-bottom: 10px;
        margin-left: 10px;
        margin-top: 120px;
        margin-right: 20px;
        display: flex;
        justify-content: start;
        align-items: center;
        padding-left: 10px; padding-right: 10px;
        
    }
    .ri6{
        position: absolute;
        width: 40%;
        height: 30px;
        
        margin-bottom: 10px;
        margin-left: 300px;
        margin-top: 120px;
        margin-right: 20px;
        display: flex;
        justify-content: start;
        align-items: center;
        padding-left: 10px; padding-right: 10px;
        
    }
    .ri1 i{
        padding-right: 10px;
        color: #9b3bfc;
        font-weight: 600;
    }
    .ri2 i{
        padding-right: 10px;color: #9b3bfc;  font-weight: 600;
    }
    .ri3 i{
        padding-right: 10px;color: #9b3bfc;  font-weight: 600;
    }
    .ri4 i{
        padding-right: 10px;color: #9b3bfc;  font-weight: 600;
    }
    .ri5 i{
        padding-right: 10px;color: #9b3bfc;  font-weight: 600;
    }
    .ri6 i{
        padding-right: 10px;color: #9b3bfc;  font-weight: 600;
    }
    .im{
        width: 60%;
        height: 400px;
        background-color:;
        margin-left: px;
    }
    img{
        width: 100%;
        height: 450px;
    }
    .info{
        width: 100%;
        height: 530px;
        background-color: #E5E4E2;
        align-items: center;
    }
    .head1{
        text-align: center;
        font-size: 40px;
        padding-top: 50px;
        margin-bottom: 10px;
    }
    .head2{
        width: 35%;
        height: auto;
        text-align: center;
        margin-left: 440px;
    }
    .wrapper2{
        width: 100%;
        height:400px;
        background-color:none;
        display: flex;
        justify-content: space-around;
        align-items: center;
        overflow: hidden;
    }
    .wrapper::-webkit-scrollbar{
        width: 0;
    }
    .wrapper2 .item2{
        min-width:170px;
        height: 240px;
        line-height: 110px;
        margin-top: px;
        overflow: hidden;
        background:linear-gradient(to right, #9b3bfc,#ff9cf7) ;
        margin-left: px;
        overflow: hidden;
        transition: 0.5s;
        border-radius: 8px;
    
    
    
    
        
    }
    .im2{
        width: 170px;
        height: 170px;
    }
     .im2 img{
        width: 170px;
        height: 200px;
    }
    .item2 p{
        font-size: 13px;
        text-align: center;
        font-weight: bold;
    }
    .wrapper2:hover .item2{
        filter: blur(5px);
    }
        .wrapper2 .item2:hover{
        scale: 1.30;
        filter: blur(0px);
        border: 1px solid black;
        border-radius: 20px;
    }
    
    .information{
        width: 100%;
        height: 500px;
        background-color:white;
       
    }
    .head3{
        text-align: center;
        font-size: 40px;
        padding-top: 50px;
        margin-bottom: 10px;
    }
    .head4{
        width: 35%;
        height: auto;
        text-align: center;
        margin-left: 440px;
    }
    .grid{
        width: 100%;
        height: 350px;
        background-color:none;
        margin-left: 4.5%;
        display: flex;
        justify-content: center;
        align-items: center;
       
    
        
    }
    .information .grid{
        /* display: flex;
        align-items: ; */
    }
    .center1{
        width: 95%;
        height: 300px;
        background-color:none;
    
       flex-wrap: wrap;
        display: grid;
        grid-template-columns: 280px 280px 280px 280px  ;
        grid-template-rows: 130px 130px;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }
    .gridbox{
        
        background-color:#ddd;
        border-radius: 10px;
       
    }
    .gridbox p{
        position: absolute;
        margin-top: 10px;
        margin-left: 10px;
        color: rgb(0, 0, 0,0.6);
    }
    .gridbox i{
        position: absolute;
        font-size:20px;
        background-color: white;
        border-radius: 50%;
        color: black;
        margin-top: 10px;
        margin-left: 210px;
        padding: 15px 15px;
    }
    .gridbox h4{
        position: absolute;
        margin-top: 60px;
        margin-left: 10px;
    }
    .gridbox h5{
        width: 250px;
        color: rgb(0, 0, 0,0.6);
        margin-left: 10px;
        margin-top: 90px;
    }
    .od{
        width: 100%;
        height: 400px;
        background-color:#E5E4E2;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .blue{
        position: relative;
        width: 95%;
        height: 360px;
        background-color: blue;
        border-radius: 25px;
        overflow: hidden;
    
    }
    .blue img{
        width: 100%;
        height: 360px;
    }
    .blue h1{
        position: absolute;
        top: 15%;
        left: 20%;
        width: 60%;
        font-weight: 100;
        color: white;
        font-size: 45px;
        text-align: center;
    }
    .btn1{
        position: absolute;
        top: 50%;
        left: 38%;
        
    
    }
    .btn1 button{
        width: 300px;
        height: 70px;
        font-size: 20px;
        border-radius: 50px;
        color: #9b3bfc;
        font-weight: 600;
        background-color: white;
        transition: 0.5s;
    }
    
        .btn1 i{
          padding: 20px 20px;
          border-radius: 50%;
          background:linear-gradient(to right, #9b3bfc,#ff9cf7) ;
            padding-left: ;
            margin-left: 30px;
            color: white;
            
        }
        footer{
            width: 100%;
            height: 400px;
            background-color: #E5E4E2;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .footercontant{
            width: 97%;
            height: 380px;
            background-color: black;
            border-radius: 25px;
            overflow: hidden;
        
        }
        .footerhead{
            width: 100%;
            height: 120px;
            color: white;
            background-color: none;
            border-bottom: 0.2px solid grey;
            position: relative;
            
        }
        .footerhead h1{
            width: 40%;
            font-size: 40px;
            position: absolute;
            left: 30px;
            top: 40px;
            font-weight: 100;
        }
        .button2{
            position: absolute;
            top: 40px;
            right: 20px;
            
        }
        .button2 button{
            width: 160px;
            height: 40px;
            color:white;
            font-size: 15px;
            background-color:black;
            border: 2px solid white;
            margin-right: 20px;
            border-radius: 25px;
            font-weight: bold;
            transition: 0.5s;
            }
            .button2 button:hover{
                background:linear-gradient(to right, #9b3bfc,#ff9cf7) ;
                border: none;
            }
            .name1{
                background:linear-gradient(45deg, #9b3bfc,#ff9cf7) ;
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-size: 300% 300%;
            }
           .name1 h1{
            font-weight: bold;
            color: white;
            margin-top: 30px;
            margin-left: 30px;
            
           
           }
           .footercontant p{
            color: white;
            margin-top: 30px;
            margin-left: 30px;
           }
           .search input{
            margin-top: 10px;
            margin-left: 30px;
            width: 250px;
            height: 30px;
            border-radius: 50px 0px 0px 50px;
            border: 1px solid white;
            background-color: black;
            padding-left: 20px;
            color: white;
    
           }
           .btn5{
            width: 110px;
            height: 35px;
            background-color: white;
            border-radius: 0px 50px 50px 0px;
            margin-left: 2px;
            color: black;
            font-size: 15px;
            font-weight: bold;
            
           }
           .insta{
            position: absolute;
            margin-top: -80px;
            left: 45%;
            width: 500px;
            height: 70px;
            background-color: none;
            background-color:none;
           display: flex;
           justify-content: space-evenly;
           align-items: center;
           }
           .emoji1{
            font-size: 50px;
            color: white;
            
    
           }
           .emoji2{
            font-size: 50px;
            color: white;
            
           }
           .emoji3{
            font-size: 50px;
            color: white;
            
           }
           .emoji4{
            font-size: 50px;
            color: white;
            
           }
           .emoji1 i:hover{
            scale: 1.2;
            color: #9b3bfc;
            transition: 0.5s;
           }
           .emoji2 i:hover{
            scale: 1.2;
            color: red;
            transition: 0.5s;
           }
           .emoji3 i:hover{
            scale: 1.2;
            color: blue;
            transition: 0.5s;
           }
           .emoji4 i:hover{
            scale: 1.2;
            color: red;
            transition: 0.5s;
           }
           .plya1{
            width: 200px;
            height: 50px;
            margin-top: 20px;
            margin-left: 50px;
           }
           .plya1 img{
            width: 100%;
            height: auto;
           }
          
           .plya2{
            width: 200px;
            height: 50px;
            margin-top: -48px;
            margin-left: 260px;
           }
           .plya2 img{
            width: 100%;
            height: auto;
           }
           
           

}